* {
  font-family: 'Ubuntu', sans-serif;
  box-sizing: border-box;
}

.picture {
  height: auto;
  width: 100%;
  position: relative;
}

.user {
  z-index: 1;
  margin: 5px;
}

.user-div {
  height: 90px;
  width: 40px;
  display: inline-block;
  margin-bottom: 15px;
  text-align: center;
}

.user-name {
  position: absolute;
  width: 40px;
}

.room {
  position: absolute;
  padding: 10px;
  border: 1px solid #aaaaaa;
  background-color: #ffffff;
}

#bedroom1 {
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
}

#hallway {
  top: 0;
  left: 300px;
  width: 150px;
  height: 300px;
}

#bedroom2 {
  top: 0;
  left: 450px;
  width:300px;
  height: 300px;
}

#livingroom {
  top: 300px;
  left: 0;
  width: 450px;
  height: 300px;
}

#kitchen {
  top: 300px;
  left: 450px;
  width: 300px;
  height: 300px;
}

.temp-display {
  position: absolute;
  bottom: -5px;
  right: 5px;
}

#tempSlider {
  width: 250px;
}

/* for pop-up */

#dialogoverlay{
  display: none;
  opacity: .3;
  position: fixed;
  top: 0px;
  left: 0px;
  background: #FFF;
  width: 100%;
  z-index: 10;
}
#dialogbox{
  display: none;
  position: fixed;
  background: #000;
  border-radius:7px;
  width:550px;
  z-index: 10;
}
#dialogbox > div{ background:#FFF; margin:8px; }
#dialogbox > div > #dialogboxhead{ background: #666; font-size:19px; padding:10px; color:#CCC; }
#dialogbox > div > #dialogboxbody{ background:#333; padding:20px; }
#dialogbox > div > #dialogboxfoot{ background: #666; padding:10px; text-align:right; }

/* end pop-up */
