<!DOCTYPE html>
<html ng-app="smartHouse">
<head>
  
  <link rel="shortcut icon" type="image/png" href="img/house.png"/>
  <meta charset="utf-8">
  <title>JOSE</title>
  
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  
  <!-- speech recognition styles -->
  <link rel="stylesheet" href="css/speech_recognition.css">
  
  <!-- custom stylesheet -->
  <link rel="stylesheet" href="css/styles.css">
  
  <!-- stylesheet for onoffswitch -->
  <link rel="stylesheet" href="css/onoffswitch.css">
  
  <!-- Google Font Ubuntu -->
  <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>
  
  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  
  <!-- include angularjs -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  
  <!-- include firebase -->
  <script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
  
  <!-- include angularfire -->
  <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>
  
  <!-- custom angularfire -->
  <script src="js/homepage_angularfire.js"></script>
  
  <!-- jQuery UI (allows draggable()) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <!-- <script src="lib/jquery-ui-1.11.4.custom/jquery-ui.min.js" charset="utf-8"></script> -->
  
  <!-- Bootstrap JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  
  <!-- custom js -->
  <script src="js/scripts.js"></script>
  
  <!-- speech recognition -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/annyang/2.2.1/annyang.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.2.1/annyang.min.js"></script>
  
  <!-- text to speech -->
  <script src='https://code.responsivevoice.org/responsivevoice.js'></script>
  
</head>
<body>
  
  <div class="container" ng-controller="houseController">
    
    <h1>Judicious Online Super Edifice</h1>
    
    <!-- button to control the entire house -->
    <p>
      <a href="#" class="btn btn-info" role="button">Main Controller</a>
      <a href="pages/users.html" class="btn btn-info" role="button">Users</a>
      <a href="pages/help.html" class="btn btn-info" role="button">Help</a>
    </p>
    
    <div ng-repeat="(guid, user) in house.users" id="{{guid}}" status="{{user.status}}" class="draggable user user-div" data-toggle="popover" data-content="Priority: {{user.priority}}<br/>Status: {{user.status}}" title="{{user.name}}" name="{{user.name}}" data-trigger="hover" data-placement="right">
    <img ng-src="img/stick-figure.png" width="40" height="90" style="padding-bottom: 0.5em;" ng-dblclick="userClick(user, guid)">
    
    <p class="user-name">{{user.name}}</p>
    
  </div>
  
  <div class="picture">

    <div ng-repeat="(guid, room) in house.rooms" DBid="{{guid}}" id="{{room.id}}" occupants ="{{room.occupants}}" class="room {{room.light.on || room.alarm ? 'lightson' : 'lightsoff'}} " ng-dblclick="roomClick(room);" style="{{room.alarm=='1' ? 'background-color: #ff0000': room.alarm=='2' ? 'background-color: #ffffff' : ('background-color: ' + room.light.color)}}" mode="{{room.mode}}">

      <p><strong>{{room.name}}</strong></p>
      <p class="music-display" ng-if="room.music.on"><span class="glyphicon glyphicon-volume-up"></span> {{room.music.source}} ({{room.music.volume}}%)</p>
      <p class="mode-display" ng-if="room.mode">Mode: {{room.mode}}</p>
      <p class="temp-display" ng-if="room.thermostat.on">{{room.thermostat.temp}}&deg;</p>
    </div>
  </div>
  
  <div id="fridge">
    <strong>Fridge</strong>
    <ul>
      <li ng-repeat="item in house.fridge">{{item.name}} ({{item.quantity}} {{item.units}})</li>
    </ul>
  </div>
  
</div>

<!-- for pop-up -->
<div id="dialogoverlay"></div>
<div id="dialogbox">
  <div>
    <div id="dialogboxhead"></div>
    <div id="dialogboxbody">
      
      <div class='panel panel-info'>
        <p>Mode:
          <select name='mode' id='mode'>
            <option value=''>-</option>
            <option value='party'>party</option>
            <option value='lock-down'>lock down</option>
            <option value='study'>study</option>
          </select>
        </p>
        <hr>
        <p>Light:
          <!-- On: <input type="checkbox" name="lighton"> -->
          <div class="onoffswitch">
            <input type="checkbox" name="lightswitch" class="onoffswitch-checkbox" id="lightswitch">
            <label class="onoffswitch-label" for="lightswitch">
              <span class="onoffswitch-inner"></span>
              <span class="onoffswitch-switch"></span>
            </label>
          </div>
          <!-- <select name='light' id='light'>
          <option value=''>-</option>
          <option value='low'>low</option>
          <option value='medium'>medium</option>
          <option value='high'>high</option>
        </select> -->
        <input type='color' id='light-color'>
      </p>
      <hr>
      <p>Thermostat: <strong><span id='temperature'></span> &deg; </strong>
        <div class="onoffswitch">
          <input type="checkbox" name="thermostatswitch" class="onoffswitch-checkbox" id="thermostatswitch">
          <label class="onoffswitch-label" for="thermostatswitch">
            <span class="onoffswitch-inner"></span>
            <span class="onoffswitch-switch"></span>
          </label>
        </div>
        <input id='temp-slider' type='range' name='temperature' min='60' max='100' onchange='updateTemperature(this.value);'>
      </p>
      <hr>
      <p>Music: <span id="volume"></span>%
        <div class="onoffswitch">
          <input type="checkbox" name="musicswitch" class="onoffswitch-checkbox" id="musicswitch">
          <label class="onoffswitch-label" for="musicswitch">
            <span class="onoffswitch-inner"></span>
            <span class="onoffswitch-switch"></span>
          </label>
        </div>
        Source: 
        <select name='source' id='source'>
          <option value=''>-</option>
          <option value='AUX'>AUX</option>
          <option value='Radio'>Radio</option>
          <option value='Bluetooth'>Bluetooth</option>
        </select>
        <input id='volume-slider' type='range' name='volume' min='0' max='100' onchange='updateVolume(this.value);'>
      </p>
    </div>
  </div>
  <div id="dialogboxfoot"></div>
</div>
</div>

</div>

</body>
</html>
